*.pyc
TCG/artifacts/TestData/*.json
TCG/artifacts/TestData/Dependency_TestData/*.json
TCG/artifacts/GenerationRule/*.json
TCG/artifacts/AssertionRule/*.json
TCG/artifacts/TestPlan/*.yaml
TCG/artifacts/DependencyRule/*.json
TCG/artifacts/QueryRule/*.json
TCG/artifacts/AdditionalAction/*.json
TCG/artifacts/PathRule/
TCG/artifacts/TestPlan/*.json
TCG/artifacts/TestCase/RESTful_API/*.robot
config/*.*
pyqt6-env/
tcg/venv/
venv/
*.zip
*.json
*.yaml