*.pyc
TCG/TestData/*.json
TCG/TestData/Dependency_TestData/*.json
TCG/GenerationRule/*.json
TCG/AssertionRule/*.json
TCG/test_plan/*.yaml
TCG/DependencyRule/*.json
TCG/QueryRule/*.json
TCG/AdditionalAction/*.json
config/*.*
TCG/PathRule/
pyqt6-env/
tcg/venv/
TCG/test_plan/*.json
TCG/TestCases/RESTful_API/*.robot
venv/