{% set rendered_summary = false -%}
{% if not rendered_summary -%}
*** Settings ***
Documentation     Test cases for {{ test_info.summary }}.

Resource          ../../_Resources/setup_teardown.robot
Resource          ../../_Resources/global_keywords.robot
Resource          ../../_Resources/instantiation_set.robot 

*** Variables ***
${sender}=    

*** Test Cases ***
{% set rendered_summary = true %}
{%- endif %}
{% for case_id, case in test_cases.items() %}
{{ case_id }}
    [Tags]  RESTful  {{ test_info.method }}  {{ case.test_strategy }}  {{ case.test_type }}  
    [Documentation]  {{ case.summary }}
    {% for point_id, point in case.test_point.items() %}
    # Setup - {{ case_id }}.{{ point_id }}
    # Test - {{ case_id }}.{{ point_id }}
        ${req}  ${resp}=  Run Keyword  ${sender}.send_restful  {{ test_info.action }}  {{ test_info.object }}  
        {%- if point.parameter.testdata != None %}
        ...  file_name={{ point.parameter.testdata }}
        {%- endif %}
        {%- if point.path != None %}
        {% for path_id, path in point.path.items() %}...  {{ path_id }}={{ path }}  {% endfor %}
        {%- endif %}

        Run Keyword If  ${resp.status_code} != 200
        {% for assertion_id, assertion in point.assertion.items() -%}
            {{ assertion.source }}  {{ assertion.assertion_method }}  {{ assertion.expected_value }}
        {% endfor %}
        ${parsed_resp}=  ReturnParser.api_parser  ${resp}
        Log ${parsed_resp}

    # Teardown - {{ case_id }}.{{ point_id }}
    {% endfor %}
{% endfor %}