{% if test_cases != None -%}
{%- for case_id, case in test_cases.items() -%}
{% for point_id, point in case.test_point.items() %}
{{ test_info.operationId }}_{{ case_id }}_{{ point_id }}
    [Tags]  RESTful  {{ test_info.method }}  {{ case.test_strategy }}  {{ case.test_type }}  
    [Documentation]  {{ case.summary }}
    {% if point.dependency.Setup.items() %}
    [Setup]             {{ test_info.operationId }}_{{ case_id }}_{{ point_id }}_Setup
    {% endif %}
        # Test - {{ case_id }}.{{ point_id }}
        # {{ point.parameter.description }}
        {{ '${' }}{{ point.parameter.request_name }}}  {{ '${' }}{{ point.parameter.response_name }}}=  Run Keyword  ${sender}.send_restful  {{ test_info.action }}  {{ test_info.object }}{% if point.parameter.testdata != "None" %}
        ...  file_name={{ point.parameter.testdata }}{% endif -%}{% if point.path != {} %}
        ...  {% for path_id, path in point.path.items() -%}{{ path_id }}={{ path }}   {% endfor -%}{% endif %}{% if point.query != {} %}
        {% set start = '...  query_param={' -%}{% set end = '}' -%}{{ start }}{%- for query_id, query in point.query.items() -%}{% if 'Value' in query -%}{% set value = query.Value -%}{% else -%}{% set value = query -%}{%- endif -%}"{{ query_id }}":"{{ value }}"{% if not loop.last -%}, {% endif -%}{% if loop.last -%}{{ end }}{{ jump }}        {% endif -%}
        {% endfor %}{% endif %}
        
        ${parsed_resp}=  Parser.api_parser  ${resp}
        Log  ${parsed_resp}
        {% for action_index, action in point.additional_action.items() -%}
        {% if action['Action Name'] == 'Parser - API Parser' -%}
            {% set data_option = '' if action.Data == '' else 'data=' + action.Data -%}
            {% set filter_option = '' if action.Filter == '' else 'filter=' + action.Filter -%}
            {% set last_count_option = '' if action['Last Count'] == '' else 'last_count=' + action['Last Count'] -%}
            {% set field_option = '' if action.Field == '' else 'field=' + action.Field -%}
            {% set return_type_option = '' if action['Return Type'] == '' else 'return_type=' + action['Return Type'] -%}
            {{ '${' }}{{ action['Response Name'] }}}=  Parser.api_parser  {{ data_option }}  {{ filter_option }}  {{ last_count_option }}  {{ field_option }}  {{ return_type_option }}
        {% elif action['Action Name'] == 'Analyzer - Data Analyzer' -%}
            {% set data_option = '' if action.Data == '' else 'data=' + action.Data -%}
            {% set filter_option = '' if action.Filter == '' else 'filter=' + action.Filter -%}
            {% set last_count_option = '' if action['Last Count'] == '' else 'last_count=' + action['Last Count'] -%}
            {% set field_option = '' if action.Field == '' else 'field=' + action.Field -%}
            {% set verbose_option = '' if action.Verbose == '' else 'verbose=' + action.Verbose -%}
            {% set return_type_option = '' if action['Return Type'] == '' else 'return_type=' + action['Return Type'] -%}
            {% set result_type_option = '' if action['Result Type'] == '' else 'result_type=' + action['Result Type'] -%}
            {{ '${' }}{{ action['Response Name'] }}}=  Analyzer.data_analyzer  {{ data_option }}  {{ filter_option }}  {{ last_count_option }}  {{ field_option }}  {{ verbose_option }}  {{ return_type_option }}  {{ result_type_option }}
        {% elif action['Action Name'] == 'Analyzer - Config Analyzer' -%}
            {% set src_data_option = '' if action['Src. Data'] == '' else 'src_data=' + action['Src. Data'] -%}
            {% set dest_data_option = '' if action['Dest. Data'] == '' else 'dest_data=' + action['Dest. Data'] -%}
            {% set action_option = '' if action.Action == '' else 'action=' + action.Action -%}
            {% set start_level_option = '' if action['Start Level'] == '' else 'start_level=' + action['Start Level'] -%}
            {% set obj_option = '' if action['Obj'] == '' else 'obj=' + action['Obj'] -%}
            {% set verbose_option = '' if action['Verbose'] == '' else 'verbose=' + action['Verbose'] -%}
            {{ '${' }}{{ action['Response Name'] }}}=  Analyzer.config_analyzer  {{ src_data_option }}  {{ dest_data_option }}  {{ action_option }}  {{ start_level_option }}  {{ obj_option }}  {{ verbose_option }}
        {% endif -%}
            Set Test Variable  {{ '${' }}{{ action['Response Name'] }}}
        {% endfor -%}
    {% for assertion_id, assertion in point.assertion.items() %}
        {% if assertion.source == 'Status Code' -%}
        ${resp.status_code}=  Convert To String  ${resp.status_code}
        Run Keyword If  ${resp.status_code} != {{ assertion.expected_value }}  Log  ${resp.content}
        {{ assertion.assertion_method }}  ${resp.status_code}  {{ assertion.expected_value }}
        {% elif assertion.source == 'Body' -%}
        {% if assertion.filter_expression != '' or assertion.field_expression != '' -%}
        {% set filter_option = '' if assertion.filter_expression == '' else 'filter=' + assertion.filter_expression -%}
        {% set field_option = '' if assertion.field_expression == '' else 'field=' + assertion.field_expression -%}
        ${filterd_result}=  Analyzer.data_analyzer  data=${parsed_resp}
        ...  {{ filter_option }}  {{ field_option }}
        Log  ${filterd_result}
        {{ assertion.assertion_method }}  ${filterd_result}  {{ assertion.expected_value }}
        {% else -%}
        {{ assertion.assertion_method }}  ${parsed_resp}  {{ assertion.expected_value }}
        {% endif -%}
        {% elif assertion.source == 'Header' -%}
        {{ assertion.assertion_method }}  ${resp.headers}  {{ assertion.expected_value }}
        {% endif -%}
    {% endfor -%}
    {% if point.dependency.Teardown.items() %}
    [Teardown]       {{ test_info.operationId }}_{{ case_id }}_{{ point_id }}_Teardown
    {% endif %}
{% endfor -%}
{% endfor -%}
{% endif %}
