{
    "summary": "{{ key }} request body parameter min max test",
    "test_strategy": "parameter_min_max_test",
    "test_type": "negative_test",
    "test_point": {
        "1": {
            "parameter": {
                "name": "{{ key }}",
                "description": "`{{ prop_type }}` parameter with limitations `minimum - 1 = {{ min_value_info }}`",
                "request_name": "req",
                "response_name": "resp",                
                "prop_type": "{{ prop_type }}",
                "value": "{{ negative_min_value }}",
                "testdata": "{{ min_testdata }}"
            },
            "dependency": {},
            "path": {},
            "query": {},
            "assertion": {},
            "dynamic_overwrite_data": {}
        },
        "2": {
            "parameter": {
                "name": "{{ key }}",
                "description": "`{{ prop_type }}` parameter with limitations `maximum + 1 = {{ max_value_info }}`",
                "request_name": "req",
                "response_name": "resp",                
                "prop_type": "{{ prop_type }}",
                "value": "{{ negative_max_value }}",
                "testdata": "{{ max_testdata }}"
            },
            "dependency": {},
            "path": {},
            "query": {},
            "assertion": {},
            "dynamic_overwrite_data": {}
        }
    }
}