{
    "summary": "Verify that the `{{ key }}` field in the request body meets the minimum and maximum length requirements.",
    "test_strategy": "parameter_min_max_test",
    "test_type": "positive_test",
    "test_point": {
        "1": {
            "parameter": {
                "name": "{{ key }}",
                "description": "`{{ prop_type }}` parameter with limitations: minimum `{{ min_value_info }}`",
                "request_name": "req",
                "response_name": "resp",
                "prop_type": "{{ prop_type }}",
                "value": "{{ min_value }}",
                "testdata": "{{ min_testdata }}"
            },
            "dependency": {},
            "path": {},
            "query": {},
            "assertion": {},
            "dynamic_overwrite_data": {}                 
        },
        "2": {
            "parameter": {
                "name": "{{ key }}",
                "description": "`{{ prop_type }}` parameter with limitations: maximum `{{ max_value_info }}`",
                "request_name": "req",
                "response_name": "resp",                
                "prop_type": "{{ prop_type }}",
                "value": "{{ max_value }}",
                "testdata": "{{ max_testdata }}"
            },
            "dependency": {},
            "path": {},
            "query": {},
            "assertion": {},
            "dynamic_overwrite_data": {}
        },
        "3": {
            "parameter": {
                "name": "{{ key }}",
                "description": "`{{ prop_type }}` parameter with limitations: median `{{ median_value_info }}`",
                "request_name": "req",
                "response_name": "resp",                
                "prop_type": "{{ prop_type }}",
                "value": "{{ median_value }}",
                "testdata": "{{ median_testdata }}"
            },
            "dependency": {},
            "path": {},
            "query": {},
            "assertion": {},
            "dynamic_overwrite_data": {}
        }
    }
}
